<!--
  At first to create an angular application we have to use this command
      npm install -g @angular/cli
          ng new project-name --no-standalone
          To have the project structure with the appmodule
 -->

 <!--
  Plan for how our application is going to be
  1. It will have an moudule with two components that are reservation-form and reservations-list
  and a reservation service and the reservationModel (interface)
  //here model is like a package that is having the components and the services and the model or the interfacaes.
  2. we will be having the routing to navigate to a particular component when user interacts with the
  application
  3. At first we have to build the working application and the we can go for the css.
  4. For the form that we are going to build we should hava a model that is

  1.firstName
  2.lastName
  3.email
  4.location
  5.hotelName
  6.numberOfGuests
  7.checkInDate
  8.checkOutDate.

  5.And the home page should look like a page with two buttons and a tiltle
  one button to navigat to the reservation-form component and another button to navigate to reservation-list component

  6.Create a module and have the components and the services in that module
  ng g m reservation   to create a module
  ng g c reservation-form --module  reservation   to create a component in the reservation module
  ng g c reservatoin-list --module reservation    to create a component in the rerservation module
  and to pack the service and the interface into the component we have to navigate to the particular
  folder path of the module and create the service and interface there. by using ng g s, ng g i

  7.Write code in the interface to have a data model to work on.

  8.Work on routing when we click on the buttons Book a Hotel, My bookings

  9.Have the form in rerservation-form component and then get the enterdForm by the user to the
  ts file from the html form

  10. when we get a fresh data from the user if it is valid then we have to create an id and then
  call the service to store it in the local storage.

  -->

  <h1>Aditya Hotel Surf</h1>
  <button routerLink="/new">Book a Hotel</button>
  <button routerLink="/bookings">My bookings</button>
  <hr>
  <router-outlet></router-outlet>
  
