<h2>Hotel Booking Form</h2>

<div>
  <form
    id="reservationForm"
    [formGroup]="itemForm"
    (ngSubmit)="onSubmit()">
    <div>
      <label>First Name</label>
      <input
      type="text"
      id="firstName"
      formControlName="firstName">
    </div>

    <div>
      <label>Last Name</label>
      <input
      type="text"
      id="lastName"
      formControlName="lastName"
      >
    </div>

    <div>
      <label>Email</label>
      <input
      type="email"
      id="email"
      formControlName="email"
      >
    </div>

    <div>
      <label>Location</label>
      <input
      type="text"
      id="location"
      formControlName="location"
      >
    </div>

    <div>
      <label>Hotel Name</label>
      <input
      type="text"
      id="hotelName"
      formControlName="hotelName"
      >
    </div>

    <div>
      <label>Number Of Guests</label>
      <input
      type="number"
      id="numberOfGuests"
      formControlName="numberOfGuests"
      >
    </div>

    <div>
      <label>Check In Date</label>
      <input
      type="date"
      id="checkInDate"
      formControlName="checkInDate"
      >
    </div>

    <div>
      <label>Check Out Date</label>
      <input
      type="date"
      id="checkOutDate"
      formControlName="checkOutDate"
      >
    </div>

  <div>
    <button
    type="submit"
    >{{ itemId ? 'UpdateBooking' : 'Book' }}</button>
  </div>

  </form>
</div>

<!-- <div>
  <form
    name="reservationForm"
    ngForm
    #reservationForm="ngForm"
    (ngSubmit)="submit(reservationForm)">
    <div>
      <label>First Name</label>
      <input
      type="text"
      ngModel
      name="firstName">
    </div>

    <div>
      <label>Last Name</label>
      <input
      type="text"
      ngModel
      name="lastName">
    </div>

    <div>
      <label>Email</label>
      <input
      type="email"
      ngModel
      name="email">
    </div>

    <div>
      <label>Location</label>
      <input
      type="text"
      ngModel
      name="location">
    </div>

    <div>
      <label>Hotel Name</label>
      <input
      type="text"
      ngModel
      name="hotelName">
    </div>

    <div>
      <label>Number Of Guests</label>
      <input
      type="number"
      ngModel
      name="numberOfGuests">
    </div>

    <div>
      <label>Check In Date</label>
      <input
      type="date"
      ngModel
      name="checkInDate">
    </div>

    <div>
      <label>Check Out Date</label>
      <input
      type="date"
      ngModel
      name="checkOutDate">
    </div>

  <div>
    <button
    type="submit"
    >Book</button>
  </div>

  </form>
</div> -->

<!-- We have three ways to send the data that we get from the user to this html form to the ts file in
our angular application

//Way  1 Two-Way Data Binding
<form><input type="text" name="username" [(ngModel)]="username" />
  <button (click)="onSubmit()">Submit</button></form>

  //Way 2 Using Template-Driven Forms:
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
  <input type="text" name="username" ngModel />
  <button type="submit">Submit</button>
</form>

//way 3
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <input type="text" name="username" formControlName="username" />
  <button type="submit">Submit</button>
</form>

-->








